<h2 class="teal-text text-lighten-5">Acerca de ...</h2>
<p class="teal-text text-lighten-4">Aplicación que permite el registro de ideas de proyectos</p>
<p class="teal-text text-lighten-4">Version {{appVersion}}</p>