<!DOCTYPE html>
<html>
  <head>
    <title>{{appName}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos CSS del Webpack -->
    <link rel='stylesheet' href='/styles/app.css' />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  </head>
  <body class="grey darken-4">
    {{!-- Vista parcial de la barra de navegación --}}
    {{> _navbar}}
    <div class="container">
          {{{body}}}
    </div>
  </body>
    <!-- Scripts del Webpack -->
    <script src="/js/bundle.js"></script>
</html>
